html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(70,30,40);
    background: linear-gradient(180deg, rgba(70,30,40,1) 0%, rgba(30,30,50,1) 100%);
    color: white;
    font-family: 'Lato', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

body {
    /* overflow: scroll; */
    overflow-x: hidden;
}
/* Navigation */
header nav {
    width: 100%;
    height: 50px;
    background: transparent;
    background-color: rgba(0,0,0,.4);
}

header nav > ul {

    list-style-type: none;
    display: flex;
    margin: 0;
    height: inherit;
    line-height: 40px;

}

nav > ul li {
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

nav > ul li > a {

    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    /* font-family:Arial, Helvetica, sans-serif; */

}

nav > ul li:hover {
    background-color:rgba(255, 255, 255, 0.226);
    transition: ease-in .3s;
    
}

.hero-image {
    background-image: url("../assets/groupies-group-camping-optimized.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
  }

.hero-overlay {
    background: rgba(0,0,0,.25);
    width: 100%;
    height: calc(100% - 50px);
}

.groupies-header {
    font-family: 'Bangers', cursive;
    font-size: 100px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 90%;
}

/* .groupies-header::before {
    content: "Groupies";
    position: absolute;
    color: rgba(0,0,255,0.5);
    margin: -3px;
} */
.groupies-header::after {
    content: "Groupies";
    position: absolute;
    color: rgba(255,0,0,0.5);
    margin: 3px;
}

.toggleNightMode {
    margin-left: auto;
    display: flex;
    align-items: center;
}

main {
    padding: 5em 10em;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 16px;
}